<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Striped Progress bar</h4>
                <div class="progress m-t-20">
                    <div class="progress-bar bg-primary progress-bar-striped active"
                        style="height: 8pt;"
                        [style.width]="getProgress1"
                        role="progressbar">
                    </div>
                </div>
                <div class="progress m-t-20">
                    <div class="progress-bar bg-primary progress-bar-striped active"
                        style="height: 8pt;"
                        [style.width]="getProgress2"
                        role="progressbar">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-increment (emitedValue)="progress1 = $event" [progress]="progress1"></app-increment>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-increment (emitedValue)="progress2 = $event" [progress]="progress2"></app-increment>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->
